// COLOR PALETTE
$yellow: #fcb72b;
$dark-navy: #495567;
$dark-gray: #333a44;
$dim-gray: #939caa;
$light-gray: #e5ecf4;
$snow: #f2f5f9;
$light-yellow: #fff4df;
$white: #ffffff;

// SEMANTIC VALUES
$clr-accent: $yellow;
$clr-body-light: $dim-gray;
$clr-body-dark: $dark-navy;
$clr-footer-bg: $dark-gray;
$clr-mobile-menu-bg: $dark-gray;
$clr-white: $white;
$clr-light-hover: $light-gray;
$clr-cta-bg: $dark-navy;
$clr-patterns-bg: $light-gray;
$clr-jobs-listing-bg: $snow;
$clr-faq-item-bg: $snow;
$clr-question-hover: $light-yellow;
$clr-body: $snow;
