@use "../abstracts" as *;
@use "../base/typography" as typo;

.about__hero {
  height: 160px;
  background-image: url("../../assets/images/img/about-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  margin-bottom: 72px;
  @include respond(small, min) {
    height: 200px;
    background-image: url("../../assets/images/img/about-hero-tablet.jpg");
    margin-bottom: 144px;
    position: relative;
    overflow: hidden;
  }
  @include respond(large, min) {
    background-image: url("../../assets/images/img/about-hero-desktop.jpg");
    margin-bottom: 120px;
  }
}

.about__hero h1 {
  @include respond(small, min) {
    padding-left: 97px;
  }
  @include respond(large, min) {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }
}

.about__intro {
  padding: 0 32px;
  display: grid;
  gap: 120px;
  margin-bottom: 120px;
  @include respond(small, min) {
    margin-bottom: 56px;
    padding: 0;
  }
  @include respond(large, min) {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
    justify-content: start;
  }
}

.about__article {
  display: grid;
  gap: 56px;
  position: relative;
  @include respond(large, min) {
    display: flex;
    gap: 220px;
    align-items: center;
    justify-content: space-between;
  }
}

.article--left {
  @include respond(large, min) {
    flex-direction: row-reverse;
  }
}

.article--left::after {
  content: "";
  position: absolute;
  width: 741px;
  height: 151px;
  background-image: url("../../assets/images/patterns/left-upward-arrow.svg");
  top: 133px;
  left: -6px;
  pointer-events: none;
  @include respond(small, min) {
    top: 268px;
    left: unset;
    right: 0;
  }
  @include respond(large, min) {
    right: -165px;
  }
}

.article--left::before {
  @include respond(small, min) {
    content: "";
    position: absolute;
    width: 445px;
    height: 445px;
    background-image: url("../../assets/images/patterns/circle.svg");
    pointer-events: none;
    top: 0;
    right: -350px;
  }
  @include respond(large, min) {
    right: -515px;
  }
}

.article--right::after {
  content: "";
  position: absolute;
  width: 741px;
  height: 151px;
  background-image: url("../../assets/images/patterns/left-downward-arrow.svg");
  top: 0;
  right: -6px;
  pointer-events: none;
  transform: scaleX(-1);
  transform-origin: center;
  @include respond(small, min) {
    right: unset;
    left: -386px;
  }
  @include respond(large, min) {
    left: -550px;
  }
}

.article--right::before {
  @include respond(small, min) {
    content: "";
    position: absolute;
    width: 445px;
    height: 445px;
    background-image: url("../../assets/images/patterns/circle.svg");
    pointer-events: none;
    top: 0;
    left: -350px;
  }
  @include respond(large, min) {
    left: -515px;
  }
}

.about__article__img {
  aspect-ratio: 311 / 311;
  border-radius: 50%;
  max-width: 445px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.about__article__content {
  display: grid;
  gap: 32px;
  text-align: center;
  max-width: 573px;
  width: 100%;
  margin: 0 auto;
  @include respond(small, min) {
    gap: 40px;
  }
  @include respond(large, min) {
    text-align: unset;
    max-width: 445px;
    gap: 24px;
  }
}

.about__article__heading {
  @include text-preset(typo.$heading-2-mobile);
  max-width: 457px;
  width: 100%;
  margin: 0 auto;
  @include respond(small, min) {
    @include text-preset(typo.$heading-2);
  }
  @include respond(large, min) {
    max-width: 445px;
  }
}

.our__values {
  max-width: 457px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  margin-bottom: 145px;
  display: grid;
  gap: 56px;
  @include respond(small, min) {
    padding: 0;
    margin-bottom: 120px;
  }
  @include respond(large, min) {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.our__values h2 {
  text-align: center;
  margin-bottom: 8px;
  @include respond(small, min) {
    margin-bottom: 49px;
  }
  @include respond(large, min) {
    margin-bottom: 47px;
    grid-column: span 3;
  }
}

.faqs {
  display: grid;
  gap: 48px;
  padding: 0 32px;
  margin-bottom: 120px;
  @include respond(small, min) {
    gap: 64px;
    padding: 0 40px;
  }
  @include respond(large, min) {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 160px;
    padding: 0;
  }
}

.faqs h2,
.faqs h3 {
  text-align: center;
}

.faqs h3 {
  @include text-preset(typo.$heading-4);
  @include respond(small, min) {
    @include text-preset(typo.$heading-3);
  }
  @include respond(large, min) {
    text-align: left;
  }
}

.faq__container {
  display: grid;
  gap: 48px;
  @include respond(small, min) {
    gap: 64px;
  }
}
