@use "../abstracts" as *;
@use "../base/typography" as typo;

.location__hero {
  height: 160px;
  background-image: url("../../assets/images/img/careers-location-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  margin-bottom: 72px;
  @include respond(small, min) {
    height: 200px;
    background-image: url("../../assets/images/img/careers-locations-hero-tablet.jpg");
    margin-bottom: 144px;
    position: relative;
    overflow: hidden;
  }
  @include respond(large, min) {
    background-image: url("../../assets/images/img/careers-locations-hero-desktop.jpg");
    margin-bottom: 120px;
  }
}

.location__hero h1 {
  @include respond(small, min) {
    padding-left: 97px;
  }
  @include respond(large, min) {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }
}

.location__hero::after {
  @include respond(small, min) {
    content: "";
    position: absolute;
    width: 234px;
    height: 63px;
    background-image: url("../../assets/images/patterns/white-circles.svg");
    top: 50%;
    transform: translateY(-50%);
    right: -31px;
    pointer-events: none;
  }
}

.map__wrapper {
  @include respond(small, min) {
    position: relative;
    z-index: 0;
    width: 689px;
    height: 337px;
    margin: 0 auto;
    overflow: hidden;
  }
  @include respond(large, min) {
    width: 1110px;
    height: 543px;
  }
}

.map__locations {
  margin-bottom: 72px;
  padding: 0 32px;
  @include respond(small, min) {
    margin-bottom: 64px;
    padding: 0;
  }
  @include respond(large, min) {
    margin-bottom: 120px;
  }
}

.world__map {
  margin-bottom: 40px;
  aspect-ratio: 311 / 152;
  width: 100%;
  height: auto;
  @include respond(small, min) {
    aspect-ratio: 689 / 337;
  }
  @include respond(large, min) {
    aspect-ratio: 1110 / 543;
  }
}

.countries {
  list-style: none;
  display: grid;
  gap: 16px;
}

.countries__item {
  padding: 22px 0;
  width: 100%;
  @include text-preset(typo.$country-label-mobile);
  color: $clr-body-dark;
  text-align: center;
  background-color: hsla(40, 98%, 58%, 0.15);
  @include respond(small, min) {
    background-color: $clr-accent;
    @include text-preset(typo.$country-label-tablet);
    padding: 0;
    width: 120px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  @include respond(large, min) {
    width: 189px;
    height: 72px;
    @include text-preset(typo.$country-label-mobile);
  }
}

.countries__item::after {
  @include respond(small, min) {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $clr-accent;
  }
  @include respond(large, min) {
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid $clr-accent;
  }
}

.countries__item--new-york {
  @include respond(small, min) {
    position: absolute;
    z-index: 1;
    top: 52px;
    left: 97px;
    pointer-events: none;
  }
  @include respond(large, min) {
    left: 146px;
    top: 71px;
  }
}

.countries__item--london {
  @include respond(small, min) {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 25px;
    left: 242px;
  }
  @include respond(large, min) {
    top: 18px;
    left: 392px;
  }
}

.countries__item--yokohama {
  @include respond(small, min) {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 65px;
    left: 529px;
  }
  @include respond(large, min) {
    top: 78px;
    left: 855px;
  }
}

.countries__item--jakarta {
  @include respond(small, min) {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 169px;
    left: 479px;
  }
  @include respond(large, min) {
    top: 251px;
    left: 778px;
  }
}

.your__city {
  display: grid;
  gap: 32px;
  justify-items: center;
  text-align: center;
  padding: 0 32px;
  margin-bottom: 72px;
  @include respond(small, min) {
    max-width: 573px;
    width: 100%;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 120px;
    padding: 0;
  }
  @include respond(large, min) {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
    grid-template-columns: 351px 445px auto;
    text-align: left;
    align-items: center;
    gap: 30px;
  }
}

.your__city .primary__btn {
  @include respond(large, min) {
    justify-self: end;
  }
}

.primary__btn {
  display: inline-flex;
  background-color: $clr-accent;
  color: $clr-white;
  @include text-preset(typo.$links);
  border: 3px solid transparent;
  text-decoration: none;
  padding: 11px 37px;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.primary__btn:hover {
  background-color: transparent;
  color: $clr-accent;
  border-color: $clr-accent;
}

.primary__btn:focus-visible {
  outline-offset: 4px;
  outline: 2px solid $clr-accent;
  border-radius: 2px;
}
